body{
	background: black;
}


.sticky-header {
	position: fixed; /* Fija el menú en la parte superior */
	top: 0; /* Lo coloca en la parte superior de la ventana */
	width: 100%; /* Ancho completo del menú */
	z-index: 2;
	display: on;
	
}

/*style menu*/


.nav-link{
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	
}

.navbar-toggler{
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-toggler{
	background: rgb(1, 27, 1);
	text-align: center;
	font-size: 20px;

}


/*style seccion inicio*/

#inicio {
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;	
	padding: 20px 20px;
}

.titulo1 {
	font-size: 40px;
	text-align: center;
	font-family: 'Galada', cursive;
	color: white;
}

#titulo_color {
	color: #FA069B;
	font-size: 40px;
	text-align: center;
	font-family: 'Great Vibes', cursive;

}

.computadoras img {
	display: block;
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 50px;	
}

#elaboracion {
	width: 100%;
	height: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;	
}

/*animacion texto elaboracion*/

.typing-text {
	width: 100%;
	height: auto;
	margin-top: 30px;
	color: white;
	font-weight: bolder;
	font-size: 40px;
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	animation: typing 3s steps(20, end) forwards;
	font-family: 'Ranchers', cursive;
  }
  
  @keyframes typing {
	0% {
	  width: 0;
	}
	100% {
	  width: 100%;
	}
  }
  
.text_studio{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	color: rgb(243, 155, 15);
	font-size: 50px;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 3px;
}

#imagen_mobile_first {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

/*estilo servicios*/


#servicios {
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 10px;
}

#servicios h1 {
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	text-align: center;
	letter-spacing: 3px;
	color:white;
	margin-top: 50px;
	margin-bottom: 50px;
}

#descripcion{
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	column-count: 2;
    column-gap: 40px;
}

#descripcion ul {
	margin-bottom: 20px;
	margin-top: 20px;
	list-style-type: none;
	text-align: center;
	color:white;
	font-weight: bolder;

	
}

#descripcion li {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;	
}

.fas {
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgb(243, 10, 216);
	color: rgb(243, 10, 216);
	margin-left: auto;
	margin-right: auto;
}
.far {
	font-size: 50px;
	margin-top: 10px;
	color: rgb(243, 10, 216);
	background: rgb(243, 10, 216);	
	color: transparent;
	margin-left: auto;
	margin-right: auto;

}

.fab {
	font-size: 50px;
	margin-top: 10px;
	color: rgb(243, 10, 216);
	background: rgb(243, 10, 216);
	color: transparent;
	margin-left: auto;
	margin-right: auto;
}

/*Style seccion paginas web*/

#paginas_web{
	width: 80%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 60px;
	text-align: center;
	padding: 20px 20px;
	margin-left: auto;
	margin-right: auto;
	color: black;
	font-weight: bold;

}

.col-md-4 {
	width: 100%; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.card {
	width: 100%;
	height: 1100px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;	
	background: white;
}

.img_promo{
	width: 40%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#precio{
	font-family: 'Anton', sans-serif;
	font-size: 30px;

}

#precio_tachado {
	font-family: 'Flavors', cursive;
	text-decoration: line-through;
	font-size: 30px;
}

button.mercadopago-button {
	width: 135px;
	height: 50px;
	font-size: 20px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;	
}

/*style div publicidad*/

.publicidad{
	width: 90%;
	height: auto;
	text-align: center;
	font-family: 'Ranchers', cursive;
	color: rgb(253, 139, 0);
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 4px;

}

/*rotacion de icono whatsapp e img de calidad*/
.rotate{

	animation: rotate 4s linear infinite;
  }
  
  @keyframes rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}

}

.rotate img {
	position: fixed;
	right: 10px;
	bottom: 120px;
	width: 60px;
	z-index: 1000px;
	width: 110px;
	animation: rotate 4s linear infinite;
  }
  
  @keyframes rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}

  }
  .appwhatsapp {
	right: 80px;
}


/*stylo contacto*/
#Contacto{
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
  
  }

  h3{
	color:white
  }
  
  .container {
	text-align: left;
	margin-top: 60px;
	color: white;
   
  }
  .container h2 {
	width: 100%;
	height: auto;
	 margin-top: 20px;
	 margin-bottom: 60px;
	 font-size: 40px;
	 font-family: 'Anton', sans-serif;
	 text-align: center;
	 color: white;
	
  }
  .btn-primary {
	margin-top:10px;
	margin-bottom: 20px;
  }
  
  /*Style Footer*/
  
  .footer {
	width: 100%;
	height: auto;
	margin-top:80px;
	display: flex; /* Usamos flexbox para distribuir las columnas */
	justify-content: space-between; /* Espacio entre las columnas */
	background: rgb(1, 27, 1);
	padding: 20px 20px;
  }
  
  .column {
	width: 30%;
	height: auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
	flex: 1; /* Cada columna ocupa igual cantidad de espacio */
  }
  
  /* Estilo para el texto en las columnas */
    
  .h3-footer{
	width: 100%;
	height:auto;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;  
	margin-left: auto;
	margin-right: auto;	
	color: white;
  }

  .column p {
	font-size: 20px;
	text-align: center;
	color: white;
	
  }
  
  #redes {
	display: block;
  }

  #botones_redes li {
	  display: inline-block;
	  margin-top: 10px;
	  font-size: 20px;
  }
  
  #redes a {
    text-decoration: none;
	  
  }
  #redes img {
   width: 60px;
   height: auto;
   text-align: center;
  }